<?xml version="1.0" encoding="UTF-8"?>
<config> 
<quality>true</quality> 
<author>DJ.TuoiGi.com</author> 
<abouttext>DJ.TuoiGi.com</abouttext> 
<aboutlink>http://dj.tuoigi.com</aboutlink> 
<skin>asset/js/plugin/jwplayer/skins/vi/vi.xml</skin> 
<image/> 
<backcolor>#000000</backcolor> 
<frontcolor>#ffffff</frontcolor> 
<lightcolor>#66cc00</lightcolor> 
<screencolor>#333</screencolor> 
<controlbar>bottom</controlbar> 
<repeat>always</repeat> 
<autostart>1</autostart> 
<volume>100</volume> 
</config>