/*======================================================================*\
|| #################################################################### ||
||DJ.TuoiGi.Com Version 4.0 - Developed By Nguyá»…n HoĂ ng Viá»‡t & Super CĂ²m||
|| # ---------------------------------------------------------------- # ||
|| #            Copyright Â©2013 Hoai Duc B Team !                       ||
|| #    Vui lĂ²ng Ä‘á»ƒ láº¡i nguá»“n náº¿u báº¡n sá»­ dá»¥ng báº¥t cá»© tĂ i nguyĂªn nĂ o     ||
\*======================================================================*/
/*HĂ£y tĂ´n trá»�ng sá»± sĂ¡ng táº¡o ! Táº¡o báº£n sáº¯c riĂªng cho sáº£n pháº©m cá»§a báº¡n sáº½ tá»‘t hÆ¡n lĂ  Ä‘i lĂ m theo phong cĂ¡ch cá»§a ngÆ°á»�i khĂ¡c :)
Lorem ipsum dolor sit amet, .css consectetur adipiscing reset.css elit. Nam rhoncus .js, felis interdum condimentum consectetur, nisl .css libero elementum supercom.css eros, vehicula .css  congue lacus .css eros non diam. supercom-font.css Cum sociis reset.css natoque penatibus .css  et supercom.css magnis dis parturient montes, nascetur ridiculus mus. Vivamus mauris lorem, .css  lacinia id tempus non, imperdiet et leo. .css  Cras sit amet erat sit amet lacus egestas placerat. Aenean ultricies ultrices mauris ac congue. In vel tortor vel velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc dui dui, blandit a ullamcorper vitae, congue fringilla lectus. Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis et eros lobortis vel semper sapien pulvinar.
Pellentesque rhoncus aliquet porta. Sed vel magna eu turpis pharetra consequat .css ut vitae lectus. supercom-font.css In molestie sollicitudin mi sit amet convallis. .css supercom.css Aliquam erat volutpat. Nullam .css  feugiat placerat ipsum eget .css  malesuada. Nulla facilisis nunc .css  non dolor vehicula pretium. supercom.css Sed dui magna, sodales id .css  pharetra non, ullamcorper eu sapien. .css  Mauris ac consectetur leo. Mauris consequat, lectus ut bibendum pulvinar, leo magna feugiat enim, eu commodo lacus sem vel ante. Sed tempus metus eget leo mollis vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar rhoncus quam, vel semper tellus viverra id. Nulla rutrum .css  .css  porttitor odio, a rutrum .css supercom-font.css purus gravida non. Etiam ac .css  purus  supercom-font.cssaugue, .css eget vestibulum purus .supercom.css  Aenean venenatis ullamcorper augue, .css  non consequat elit tempor sed. Donec velit sapien, volutpat sed ultricies .css  egestas, semper a*/
@import url("reset.css");
    /* ante. Fusce dapibus, quam eget auctor suscipit, nibh leo posuere ante, at auctor nisi lacus in sem. Morbi interdum consectetur euismod. Cras accumsan est lacus. Nulla eleifend, eros vel consequat commodo, arcu nunc malesuada nunc, quis sagittis felis sem ac turpis.
Nulla rhoncus elementum convallis. Mauris condimentum aliquet egestas. Ut iaculis nisi eget tellus accumsan venenatis. Maecenas imperdiet aliquam porta. supercom.css .css Aenean ultrices dolor .css  sed quam laoreet varius. Curabitur .css  condimentum blandit erat, quis accumsan eros interdum vitae. Curabitur supercom.css ligula arcu, sollicitudin vitae iaculis sed, blandit sit amet enim. Morbi ullamcorper, metus vel mollis tristique, arcu turpis malesuada nisi, at dignissim lorem odio a orci. Proin ultrices, ipsum ut vestibulum interdum, libero felis auctor mi, vitae convallis nisl justo ac tellus. Integer nec lacinia turpis. Etiam massa nisl, rhoncus quis rutrum in, pretium eu leo. Proin a velit ut nulla laoreet vestibulum. Curabitur eu elit vitae felis auctor tincidunt. Curabitur tincidunt, metus sed sollicitudin cursus, quam elit commodo erat, ut tempor erat sapien vitae velit. Morbi nec viverra erat.
Nullam scelerisque facilisis pretium. supercom-font.css Vivamus lectus leo, commodo ac sagittis ac, dictum a mi. Donec quis massa .css ut libero malesuada commodo in et risus .css . Fusce nunc dolor, aliquet .css vel rutrum in, molestie sit amet massa. Aliquam suscipit, justo a commodo supercom-font.css supercom.css condimentum, enim sapien fringilla ante, sed lobortis orci lectus in ante. Donec vel interdum est. Donec placerat cursus lacus, eu ultricies nisl tincidunt a. Fusce libero risus, sagittis eleifend iaculis aliquet, condimentum vitae diam. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo purus, sodales a venenatis luctus, faucibus ac enim. Sed id metus ac sem lobortis pretium. Mauris faucibus tempor scelerisque. Nunc vulputate interdum tortor, non tincidunt dui condimentum eget. Aenean in porttitor velit. Nam accumsan rhoncus risus id consectetur.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus, felis interdum condimentum consectetur, nisl libero elementum eros, vehicula congue lacus .css  eros non diam. reset.css Cum sociis natoque supercom-font.css penatibus reset.css et magnis dis reset.css parturient montes, supercom-font.css nascetur ridiculus mus. Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo. Cras sit amet erat sit amet*/
@import url("supercom-font/css/supercom-font.css");
    /*lacus egestas placerat. Aenean ultricies ultrices mauris ac congue. In vel tortor vel velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc dui dui, blandit a ullamcorper vitae, congue fringilla lectus. Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis et eros lobortis vel semper sapien pulvinar.
Pellentesque rhoncus aliquet porta. Sed vel magna eu turpis pharetra consequat ut vitae lectus. supercom-font.css In molestie sollicitudin mi sit amet convallis. Aliquam erat .css  volutpat. Nullam feugiat placerat ipsum eget malesuada. Nulla facilisis nunc non dolor vehicula pretium. Sed dui magna, sodales supercom.css id pharetra non, ullamcorper eu sapien. Mauris ac consectetur leo. Mauris consequat, lectus ut bibendum pulvinar, leo magna feugiat enim, eu commodo lacus sem vel ante. Sed tempus metus eget leo mollis vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar rhoncus quam, vel semper tellus viverra id. Nulla rutrum porttitor odio, a rutrum purus gravida non. Etiam ac purus augue, eget vestibulum purus. Aenean venenatis ullamcorper augue, non consequat elit tempor sed. Donec velit sapien, volutpat sed ultricies egestas, semper a ante. Fusce dapibus, quam eget auctor suscipit, nibh leo posuere ante, at auctor nisi lacus in sem. Morbi interdum consectetur euismod. Cras accumsan est lacus. Nulla eleifend, eros vel consequat commodo, arcu nunc malesuada nunc, quis sagittis felis sem ac turpis.
Nulla rhoncus elementum convallis. Mauris condimentum aliquet egestas. Ut iaculis nisi eget tellus accumsan venenatis. Maecenas imperdiet aliquam porta. Aenean ultrices dolor sed quam laoreet varius. Curabitur condimentum blandit erat, quis accumsan eros interdum vitae. Curabitur ligula arcu, sollicitudin vitae iaculis sed, blandit sit amet enim. Morbi ullamcorper, metus vel mollis tristique, arcu turpis malesuada nisi, at dignissim lorem odio a orci. Proin ultrices, ipsum ut vestibulum*/
@import url("supercom-css/css/supercom.css");

/*interdum, libero felis auctor mi, vitae convallis nisl justo ac tellus. Integer nec lacinia turpis. Etiam massa nisl, rhoncus quis rutrum in, pretium eu leo. Proin a velit ut nulla laoreet vestibulum. Curabitur eu elit vitae felis auctor tincidunt. Curabitur tincidunt, metus sed sollicitudin cursus, quam elit commodo erat, ut tempor erat sapien vitae velit. Morbi nec viverra erat.
Nullam scelerisque facilisis pretium. Vivamus lectus leo, commodo ac sagittis ac, dictum a mi. Donec quis massa ut libero malesuada commodo in et risus. Fusce nunc dolor, aliquet vel rutrum in, molestie sit amet massa. Aliquam suscipit, justo a commodo condimentum, enim sapien fringilla ante, sed lobortis orci lectus in ante. Donec vel interdum est. Donec placerat cursus lacus, eu ultricies nisl tincidunt a. Fusce libero risus, sagittis eleifend iaculis aliquet, condimentum vitae diam. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo purus, sodales a venenatis luctus, faucibus ac enim. Sed id metus ac sem lobortis pretium. Mauris faucibus tempor scelerisque. Nunc vulputate interdum tortor, non tincidunt dui condimentum eget. Aenean in porttitor velit. Nam accumsan rhoncus risus id consectetur.
END INTRO */

/* Begin Main Css */
.left-box-home, .right-box-home, #left-column .column-content, #center-column .center-column-content, #right-column .column-content, .left-column-cat .column-content, .right-column-cat .column-content, #right-listen-column .column-content, #wrap-listen, .tabs .tab.active, .tab-content, #center-column #album-list .album-bit .album-cover, .left-column-cat #album-list .album-bit .album-cover, #left-listen-column #album-list .album-bit .album-cover, #footer, #list-album .album-bit .album-cover .img-cover .bgcover, .menu #logo-top a, .add-to-playlist a, .add-to-playlist a:hover, #list-video-home .video-bit .video-thumb .play-video-icon, .left-column-cat .video-bit .video-thumb .play-video-icon, #left-listen-column .video-bit .video-thumb .play-video-icon, .icon_play, .icon_addplaylist, .icon_download, .icon_addplaylist, .icon_download, .post-cmt .post-cmt-form .text-box-decor, .tuoigi-title-text {
    background: url("../images/misc/sprite.png") no-repeat top left;
    _background: url("../images/misc/sprite.gif") no-repeat top left
}

body {
    background: #111 url("../images/misc/bg.jpg") repeat;
    font-size: 11px;
    font-family: Tahoma, 'Open Sans', arial, sans-serif;
    line-height: 20px;
    color: #6b6b6b;
    text-align: center
}

a {
    color: #999;
    text-decoration: none
}

a:hover {
    color: #fff !important;
    text-shadow: 0 0 5px #999 !important
}

.h1, .h2 {
    display: inline-block
}

.clear {
    clear: both
}

.center {
    text-align: center
}

.left {
    float: left
}

.right {
    float: right
}

.clear-fix {
    float: none;
    clear: both;
    width: 100%;
    height: 1px
}

.no-padding {
    padding: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-border {
    border: 0 !important
}

.no-box-shadow {
    box-shadow: 0 0 0 #fff !important
}

.no-border-top {
    border-top: 0 !important
}

.no-display {
    display: none !important;
}

#loading {
    position: fixed;
    top: 35px;
    z-index: 20;
    width: 100%;
    display: none
}

#loading p {
    width: 150px;
    background: #464646;
    color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    margin: 0 auto;
    display: inline-block
}

.button {
    background-color: #feda71;
    background-image: -moz-linear-gradient(center top, #feda71, #febb49);
    border-color: #f5b74e #e7a943 #d6982f;
    border-image: none;
    border-left: 1px solid #e7a943;
    border-radius: 5px;
    border-right: 1px solid #e7a943;
    border-style: solid;
    border-width: 1px;
    color: #623f1d;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 7px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fede9d
}

img {
    border: 0 none;
    vertical-align: middle;
    margin-bottom: 3px
}

img.border {
    border: 1px solid #ccc;
    padding: 1px;
    background: #fff
}

.onlyie6 {
    _display: none
}

h1.title {
    margin: 0 !important
}

.rows1, .rows2, .rows3, .rows6, .rows4, .rows5 {
    display: block;
    overflow: hidden
}

.rows1 {
    height: 20px !important
}

.rows2 {
    height: 40px !important
}

.rows3 {
    height: 50px !important
}

.rows4 {
    height: 117px !important
}

.rows5 {
    height: 85px !important
}

.rows6 {
    height: 135px !important
}

.seperator-line1 {
    border-bottom: 1px solid #0b0b0b
}

.seperator-line2 {
    border-top: 1px solid #191919;
    margin-bottom: 5px
}

#background-popup {
    background: #111;
    height: 100%;
    left: 0;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none
}

#wrap-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent;
    z-index: 9;
    display: none
}

#background-popup {
    background: #111;
    height: 100%;
    left: 0;
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none
}

.view-more {
    text-align: right;
    clear: both
}

.view-more a {
    margin: 5px 0;
    padding-right: 11px;
    color: #ccc !important;
    display: inline-block;
    border-radius: 3px
}

.pagination {
    margin: 10px auto 5px auto;
    text-align: center;
    clear: both;
    display: block
}

.page {
    background: #1d1d1d;
    border-bottom: 2px solid #000;
    border-radius: 3px;
    color: #ccc;
    display: inline-block;
    margin-right: 3px;
    padding: 5px 10px;
    text-decoration: none
}

.page.active, .page:hover {
    background: #333;
    border-color: #0a0a0a;
    color: #fff
}

.total-page {
    text-align: center;
    margin-bottom: 10px;
    clear: both;
    width: 100%;
    display: block
}

.total-page span {
    font-weight: bold
}

.sort-tool {
    margin-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #050505
}

.sort-tool a, .sort-tool a:hover {
    color: #333 !important;
    text-shadow: 0 0 0 #333
}

.menu {
    background: #333 url('../images/misc/bg-menu.jpg');
    border-bottom: 1px solid #000;
    box-shadow: 0 0 4px #000;
    color: #fff;
    font: 11px/27px Tahoma, sans-serif;
    height: 35px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 19;
    _position: absolute
}

.menu #logo-top {
    float: left;
    width: 150px
}

.menu #logo-top a {
    background-position: 0 -298px;
    width: 129px;
    height: 34px;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    display: block;
    margin-left: 10px
}

.menu #TuoiGiNotifi {
    float: left;
    width: 65px;
    position: relative
}

.menu #TuoiGiNotifi #notifi-btn {
    width: 50px;
    float: left
}

.menu #TuoiGiNotifi #notifi-btn a:hover {
    background-color: #464646;
    border-radius: 5px 5px 0 0
}

.menu #TuoiGiNotifi #notifi-btn a {
    background: url('../images/misc/sprite.png') no-repeat scroll 3px -970px;
    _background: url('../images/misc/sprite.gif') no-repeat scroll 3px -970px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: 9px;
    display: block;
    text-align: right;
    position: relative
}

.tuoigi-notifi-count {
    height: 8px;
    line-height: 8px;
    width: auto;
    background: #f03d25;
    border: 1px solid #d83722;
    border-bottom: 1px solid #c0311e;
    border-top: 1px solid #e23923;
    box-shadow: 0 1px 0 rgba(0, 39, 121, .77);
    padding: 2px 1px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    margin-top: -5px;
    font-size: 9px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 101
}

#tuoigi-search {
    float: left;
    position: relative;
    width: 300px
}

#tuoigi-search form {
    margin-top: 5px;
    position: relative
}

#tuoigi-search input[type="text"] {
    background: #f5f5f5 url('../images/misc/sprite.png') no-repeat scroll 265px -993px;
    _background: #f5f5f5 url('../images/misc/sprite.gif') no-repeat scroll 265px -993px;
    border: 0;
    font: 11px Arial, Helvetica, Sans-serif;
    color: #555;
    width: 250px;
    padding: 0 25px 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-shadow: 0 0 1px #333;
    z-index: 1
}

#tuoigi-search input[type="submit"] {
    background: transparent;
    border: 0;
    position: absolute;
    right: 15px;
    top: 2px;
    z-index: 2
}

.menu #tuoigi-user-bar {
    float: right;
    line-height: 35px
}

.menu #tuoigi-user-bar a {
    color: #eee;
    font-weight: bold;
    font-size: 13px
}

.menu #tuoigi-user-bar a img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #222
}

#loginBox, #userBox, #utilityBox {
    background: #464646;
    border: 1px solid #333;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 10px #444;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 250px;
    display: none;
    margin-top: -1px
}

#loginBox form {
    color: #999;
    margin: 0
}

#loginBox form label {
    display: inline-block;
    font-size: 11px !important
}

#loginBox form input[type="text"], #loginBox form input[type="password"] {
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    width: 235px
}

#loginBox form input[type="checkbox"], #user-form input[type="checkbox"] {
    margin-top: -3px
}

#loginBox label span {
    width: 150px;
    display: inline-block
}

#userBox ul li i {
    display: inline-block;
    width: 20px
}

#userBox ul li.sepe-bot {
    border-bottom: 1px solid #373737
}

#userBox ul li.sepe-top {
    border-top: 1px solid #555
}

#utilityBox {
    right: 200px;
    width: 330px
}

#utilityBox input {
    margin-bottom: 0 !important
}

#utility-area {
    float: left;
    width: 100px
}

#utility-area a.utility-link {
    color: #eee;
    font-size: 11px
}

#utility-area a.gs-title {
    color: crimson !important
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    text-decoration: none !important;
    font-family: Tahoma
}

.gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *:hover {
    color: green !important;
    text-shadow: 0 0 0 #ccc !important
}

#user-utility-btn {
    line-height: 30px
}

#wrap-notifi {
    max-height: 400px
}

#notifiBox .slimScrollDiv {
    height: 400px !important
}

#notifiBox {
    margin-top: -1px;
    z-index: 10;
    background: #464646;
    border: 1px solid #222;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
    display: none
}

#notifiBox #notifi-title {
    border-bottom: 1px solid #373737;
    padding: 0 10px;
    font-weight: bold
}

#notifiBox #notifi-bottom a {
    padding: 0 10px;
    font-weight: bold;
    color: #ccc;
    display: block;
    border-top: 1px solid #454545;
    background: #393939
}

#notifiBox ul li {
    position: relative;
    border-bottom: 1px solid #373737;
    border-top: 1px solid #555;
    padding: 5px 10px
}

#notifiBox ul li:hover {
    background: #505050
}

#notifiBox ul li a {
    color: #ccc;
    line-height: 15px
}

#notifiBox ul li a:hover {
    text-shadow: 0 0 0 #ccc !important;
    color: #ccc !important
}

#notifiBox ul li .notifi-thumb {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 5px;
    margin-top: -1px
}

#notifiBox ul li .notifi-right {
    overflow: hidden;
    margin-top: 1px
}

#notifiBox ul li .notifi-content {
    max-width: 325px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word
}

#notifiBox ul li .notifi-content span {
    font-weight: bold;
    color: #ccc
}

#notifiBox ul li .notifi-time {
    color: #999;
    font-size: 10px;
    padding-top: 2px
}

.wrapper {
    margin: 0 auto;
    text-align: left;
    position: relative;
    width: 980px;
    _width: 990px
}

.advertising {
    text-align: center;
    border: 1px solid #333;
    box-shadow: 0 0 5px #111;
    margin: 0 auto
}

.advertising-content {
    display: inline-block;
    position: relative
}

#top-adv {
    height: 70px;
    float: right;
    width: 815px;
    _width: 800px
}

#top-adv-2 {
    height: 70px;
    width: 970px;
    _width: 955px
}

.slimScrollBar {
    cursor: pointer !important
}

#user-manager ul li {
    font-size: 13px;
    line-height: 25px
}

#user-manager ul li i {
    width: 20px;
    display: inline-block;
    font-size: 14px
}

.formError {
    z-index: 990
}

.formError .formErrorContent {
    z-index: 991
}

.formError .formErrorArrow {
    z-index: 996
}

.formErrorInsideDialog.formError {
    z-index: 5000
}

.formErrorInsideDialog.formError .formErrorContent {
    z-index: 5001
}

.formErrorInsideDialog.formError .formErrorArrow {
    z-index: 5006
}

.inputContainer {
    position: relative;
    float: left
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer
}

.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none
}

.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position: relative;
    color: #fff;
    width: 150px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}

.greenPopup .formErrorContent {
    background: #33be40
}

.blackPopup .formErrorContent {
    background: #393939;
    color: #FFF
}

.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative
}

body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0
}

.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 0 0 12px;
    top: 2px
}

.formError .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    font-size: 0;
    height: 1px;
    background: #ee0101;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block
}

.formError .formErrorArrowBottom div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.greenPopup .formErrorArrow div {
    background: #33be40
}

.blackPopup .formErrorArrow div {
    background: #393939;
    color: #FFF
}

.formError .formErrorArrow .line10 {
    width: 15px;
    border: 0
}

.formError .formErrorArrow .line9 {
    width: 13px;
    border: 0
}

.formError .formErrorArrow .line8 {
    width: 11px
}

.formError .formErrorArrow .line7 {
    width: 9px
}

.formError .formErrorArrow .line6 {
    width: 7px
}

.formError .formErrorArrow .line5 {
    width: 5px
}

.formError .formErrorArrow .line4 {
    width: 3px
}

.formError .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0 solid #ddd
}

.formError .formErrorArrow .line2 {
    width: 3px;
    border: 0;
    background: #ddd
}

.formError .formErrorArrow .line1 {
    width: 1px;
    border: 0;
    background: #ddd
}

.cmt-box-title {
    color: #bbb;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 5px
}

.cmt-box {
    overflow: hidden;
    background: #1b1b1b;
    font-size: .85714286em;
    padding-top: 10px;
    padding: 10px 5px 0 5px;
    margin-top: -5px
}

.cmt-box .view-more-cmt {
    display: block;
    padding: 5px 0 5px 10px;
    background: #191919;
    margin-top: 5px;
    font-weight: bold;
    font-size: 11px;
    text-align: center
}

.cmt-box .view-more-cmt a {
    padding-right: 25px
}

.cmt-box .cmt {
    position: relative;
    margin-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    border-top: 1px dashed #222
}

.cmt-box .cmt .avatar, .cmt-box .cmt .avatar img {
    width: 36px;
    height: 36px;
    border-radius: 100%
}

.cmt-box .cmt .avatar {
    margin-left: 0;
    border: 2px solid #777;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    position: relative;
    z-index: 3;
    background: #c8c8c8 url('../images/misc/no_avatar.jpg') no-repeat center center;
    overflow: hidden
}

.cmt-box .cmt .avatar:hover {
    border-color: #fff
}

.cmt-box .cmt .cmt-head, .cmt-box .cmt .cmt-content {
    padding-left: 51px;
    color: #777
}

.cmt-box .cmt .cmt-interact {
    float: right;
    visibility: hidden
}

.cmt-box .cmt:hover .cmt-interact {
    visibility: visible
}

.cmt-box .cmt .cmt-head {
    display: block;
    color: #bfbfbf;
/ / font-size : .84615385 em;
    font-size: 11px
}

.cmt-box .cmt .cmt-head .display-name {
    top: 0;
    float: none;
    margin: 0 3px 0 0;
    font-weight: bold;
/ / font-size : 1.18181818 em;
    font-size: 11px
}

.cmt-box .cmt .cmt-head .display-name:hover {
    color: #f15a24
}

.cmt-box .cmt .cmt-head .post-time, .cmt-box .cmt .cmt-head span {
    font-size: 9px
}

.cmt-box .cmt .cmt-head .post-time {
    color: #bfbfbf
}

.cmt-box .cmt .cmt-content {
    margin: 2px 0 4px 0;
/ / margin : 5 px 0 10 px 0;
    font-size: 11px;
    word-wrap: break-word
}

.cmt-box .cmt .cmt-interact {
/ / margin-bottom : 5 px
}

.cmt-box .cmt .cmt-interact a {
    color: #ccc
}

.cmt-box .cmt .cmt-interact .reply-cmt {
    margin-right: 10px
}

.cmt-box .post-cmt {
    overflow: hidden;
    border-top: 0;
    padding-top: 0;
    margin-bottom: 5px
}

.cmt-box .post-cmt .avatar {
    border-color: brown
}

.cmt-box .post-cmt .post-cmt-form {
    margin-left: 55px
}

.cmt-box .post-cmt .textarea {
    min-height: 32px;
    width: 98%;
    border: 1px solid #d6d6d6;
    resize: none;
    overflow-y: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 11px;
    line-height: 15px;
    height: auto
}

.cmt-box .post-cmt .textarea:focus {
    box-shadow: 0 0 0 #fff !important
}

.cmt-box .post-cmt .form-more-info {
    margin-top: 5px;
    overflow: hidden
}

.cmt-box .post-cmt .form-more-info .error {
    display: block;
    color: red
}

.post-cmt .post-cmt-form .form-controls {
    position: relative;
    margin-left: -12px;
    padding-left: 10px
}

.post-cmt .post-cmt-form .text-box-decor {
    position: absolute;
    top: 13px;
    left: 1px;
    z-index: 10;
    padding-left: 10px;
    background-position: 0 -950px;
    width: 11px;
    height: 17px;
    _background: 0
}

.reply-comment {
    margin-bottom: 5px;
    display: none
}

.reply-comment textarea {
    height: 20px;
    width: 85%;
    margin-left: 50px;
    border: 1px solid #d6d6d6;
    resize: none;
    overflow-y: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 11px;
    line-height: 15px
}

.reply-comment .reply-comment-btn {
    margin-left: 50px
}

.reply-cmt-list .cmt {
    margin-left: 50px;
    line-height: 15px
}

.reply-cmt-list .cmt .avatar, .reply-cmt-list .cmt .avatar img {
    width: 25px;
    height: 25px
}

.reply-cmt-list .cmt .cmt-interact {
    margin-left: 35px
}

.reply-cmt-list .cmt .cmt-head, .reply-cmt-list .cmt .cmt-content {
    padding-left: 35px
}

.reply-cmt-list .view-more-cmt {
    margin-left: 48px;
    margin-bottom: 5px;
    text-align: left
}

#facebook-comment {
    margin-top: 5px
}

#my-playlist-box {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    background: #fff;
    border: 1px solid #333;
    margin-left: 350px;
    position: fixed;
    top: 200px;
    z-index: 99;
    display: none
}

#my-playlist-box #playlist-list-title, #my-playlist-box #add-new-playlist {
    background: #222;
    padding: 8px 5px;
    font-weight: bold;
    color: #ccc
}

#my-playlist-box #add-new-playlist {
    background: #dadada;
    border-top: 1px solid #999;
    font-weight: normal;
    padding-bottom: 0
}

#my-playlist-box #add-new-playlist input[type="text"] {
    background: #fff;
    border: 1px solid #777;
    padding: 3px;
    color: #666;
    border-radius: 3px;
    font-size: 11px;
    width: 215px;
    height: 18px
}

#my-playlist-box #playlist-list {
    max-height: 200px
}

#my-playlist-box #playlist-list .playlist-list-item a {
    display: block;
    background: #f3f3f3;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #fff;
    padding: 5px 10px;
    color: #555;
    width: 280px;
    overflow: hidden
}

#my-playlist-box #playlist-list .playlist-list-item a:hover {
    background: #d9d9d9;
    color: #000 !important
}

#my-playlist-box #add-new-playlist-btn {
    margin-top: -10px
}

#my-playlist-box #my-playlist-list {
    padding: 5px 0;
    text-align: center;
    background: #222;
    border-top: 1px solid #333;
    font-weight: bold
}

#my-playlist-box #my-playlist-list a {
    color: #ccc
}

#wrap-suggest {
    max-height: 475px;
    color: #999;
    font-size: 11px;
}

#tuoigi-suggest .vietcom-suggest {
    width: 400px;
    border: 1px solid #333;
    position: fixed;
    top: 34px;
    background: #464646;
    padding: 0;
    z-index: 99;
    border-top: 0 !important;
    font-size: 12px;
    display: block
}

#tuoigi-suggest .vietcom-suggest a {
    color: #ccc
}

#tuoigi-suggest .vietcom-suggest .sg_l {
    width: 60px;
    float: left;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    color: #fff
}

#tuoigi-suggest .vietcom-suggest .sg_r {
    width: 309px;
    float: left;
    padding: 5px 10px 0;
    min-height: 10px;
    padding-bottom: 0
}

#tuoigi-suggest .vietcom-suggest .sg_r .sg_thumb {
    float: left;
    margin-right: 5px
}

#tuoigi-suggest .vietcom-suggest .sg_r .sg_info {
    float: left
}

#tuoigi-suggest .vietcom-suggest .sg_video .sg_r .sg_info {
    width: 165px
}

#tuoigi-suggest .vietcom-suggest .sg_album .sg_r .sg_info {
    width: 256px
}

#tuoigi-suggest .vietcom-suggest .sg_r .sg_name {
    font-weight: bold;
    font-size: 11px;
    display: block;
    max-width: 250px;
    height: 21px;
    overflow: hidden;
    word-wrap: break-word
}

#tuoigi-suggest .vietcom-suggest .sg_music .sg_r .sg_name {
    max-width: 300px
}

#tuoigi-suggest .vietcom-suggest .sg_r .sg_a {
    font-size: 11px;
    max-width: 250px;
    height: 20px;
    overflow: hidden
}

#tuoigi-suggest .vietcom-suggest .sg_r ul li {
    clear: both;
    margin-bottom: 5px;
    display: block;
    overflow: hidden
}

#tuoigi-suggest .vietcom-suggest .sg_music .sg_r ul li {
    margin: 0;
    line-height: 20px;
    margin-bottom: 3px
}

#tuoigi-suggest .vietcom-suggest .sg_video .sg_r {
    border-bottom: 1px solid #444;
    border-top: 1px solid #555;
    border-left: 1px solid #575757;
    background: #494949
}

#tuoigi-suggest .vietcom-suggest .sg_album .sg_r {
    border-bottom: 1px solid #444;
    border-top: 1px solid #555;
    border-left: 1px solid #575757;
    background: #494949
}

#tuoigi-suggest .vietcom-suggest .sg_album .sg_r .sg_thumb img {
    width: 40px;
    height: 40px;
    padding: 1px;
    border: 1px solid #333
}

#tuoigi-suggest .vietcom-suggest .sg_video .sg_r .sg_thumb {
    width: 84px;
    height: 46px;
    overflow: hidden
}

#tuoigi-suggest .vietcom-suggest .sg_video .sg_r .sg_thumb img {
    width: 84px;
    height: 50px;
    margin-top: -8px
}

#tuoigi-suggest .vietcom-suggest .sg_music .sg_r {
    border-top: 1px solid #464646;
    border-left: 1px solid #575757;
    border-bottom: 1px solid #444;
    background: #494949
}

#tuoigi-suggest .vietcom-suggest .sg_music .sg_r ul li {
    clear: both;
    display: block;
    overflow: hidden
}

#tuoigi-suggest .vietcom-suggest .sg_more a {
    display: block;
    clear: both;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background: #333
}

#footer {
    background: url("../images/misc/footer-bg.jpg") repeat-x;
    clear: both;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
    border-top: 3px solid #444
}

#footer .links {
    background: #282828;
    border-radius: 5px;
    line-height: 22px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 8px 10px;
    width: 90%
}

#footer .links a {
    color: #666;
    margin-left: 6px
}

.notifications {
    position: fixed;
    z-index: 9999
}

.notifications.top-right {
    right: 10px;
    top: 25px
}

.notifications.top-left {
    left: 10px;
    top: 25px
}

.notifications.bottom-left {
    left: 10px;
    bottom: 25px
}

.notifications.bottom-right {
    right: 10px;
    bottom: 25px
}

.notifications div {
    position: relative;
    margin: 5px 0
}

@-webkit-keyframes notification {

0
{
    -webkit-transform: rotateY(-90deg)
;
    opacity: 0
}
70
%
{
    -webkit-transform: rotateY(20deg)
;
    opacity: .8
}
90
%
{
    -webkit-transform: rotateY(-10deg)
;
    opacity: 1
}
100
%
{
    -webkit-transform: rotateY(-0)
;
    opacity: 1
}
    }

@-moz-keyframes notification {

0
{
    -webkit-transform: rotateY(-90deg)
;
    opacity: 0
}
70
%
{
    -webkit-transform: rotateY(20deg)
;
    opacity: .8
}
90
%
{
    -webkit-transform: rotateY(-10deg)
;
    opacity: 1
}
100
%
{
    -webkit-transform: rotateY(-0)
;
    opacity: 1
}
    }

@-o-keyframes notification {

0
{
    -webkit-transform: rotateY(-90deg)
;
    opacity: 0
}
70
%
{
    -webkit-transform: rotateY(20deg)
;
    opacity: .8
}
90
%
{
    -webkit-transform: rotateY(-10deg)
;
    opacity: 1
}
100
%
{
    -webkit-transform: rotateY(-0)
;
    opacity: 1
}
    }

keyframes notification {

0
{
    -webkit-transform: rotateY(-90deg)
;
    opacity: 0
}
70
%
{
    -webkit-transform: rotateY(20deg)
;
    opacity: .8
}
90
%
{
    -webkit-transform: rotateY(-10deg)
;
    opacity: 1
}
100
%
{
    -webkit-transform: rotateY(-0)
;
    opacity: 1
}
    }

.alert-blackgloss:before {
    background: -webkit-gradient(linear, 0 -16.5%, 16.5% -100%, from(rgba(255, 255, 255, .0)), to(rgba(255, 255, 255, .6)), color-stop(.99, rgba(255, 255, 255, .2)), color-stop(.5, rgba(255, 255, 255, .0))) no-repeat;
    -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .5)), color-stop(.8, rgba(255, 255, 255, .0)));
    position: absolute;
    content: '.';
    line-height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    -webkit-border-radius: 5px
}

.alert-blackgloss {
    -webkit-animation: notification .75s linear;
    -moz-animation: notification .75s linear;
    -ms-animation: notification .75s linear;
    -o-animation: notification .75s linear;
    animation: notification .75s linear;
    background: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 0 0 1px rgba(255, 255, 255, .1);
    border: 1px solid rgba(0, 0, 0, .95);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    color: #fff;
    -webkit-transform: rotateY(-0);
    -moz-transform: rotateY(-0);
    -o-transform: rotateY(-0);
    transform: rotateY(-0);
    position: relative;
    background-clip: padding-box
}

.alert-blackgloss .close {
    position: relative;
    top: -3px;
    right: -25px;
    color: #fff;
    content: 'x'
}

#content {
    display: table;
    float: left;
    margin-top: 35px;
    position: relative;
    width: 100%;
    border: 1px solid #292929;
    border-bottom: 0;
    background: #111
}

.avatar {
    display: inline-block;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: 3px solid #444;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #c8c8c8
}

.avatar img {
    width: 48px
}

.avatar:hover {
    border-color: #fff
}

#artist-cover {
    margin-top: 35px;
    background: #000;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 1px;
    border-bottom: 1px solid #191919;
    box-shadow: 0 8px 6px -6px black;
    z-index: 1
}

#artist-cover .cover-img {
    margin: 0 auto
}

.cover-img {
    background: #333;
    height: 260px;
    max-height: 260px;
    overflow: hidden;
    position: relative;
    width: 980px
}

.cover-img img {
    font-size: 0;
    height: 280px;
    max-height: 280px;
    max-width: 980px;
    text-indent: -9999px;
    width: 980px
}

.profile-info {
    background: #333;
    padding: 15px 20px;
    position: relative;
    min-height: 90px;
    color: #737373
}

.profile-info .avatar img, .profile-info .avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%
}

.profile-info .avatar {
    border: 5px solid #333;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 6;
    box-shadow: 0 2px 2px #222;
    -moz-box-shadow: 0 2px 2px #222;
    -webkit-box-shadow: 0 2px 2px #222;
    background: #c8c8c8
}

.profile-info .username, .profile-info .user-info, .profile-info .profile-desc, .profile-info .user-role {
    margin-left: 150px;
    display: inline-block;
    max-width: 420px;
    margin-bottom: 5px
}

.profile-info .user-role {
    font-size: 12px;
    font-weight: bold;
    color: darkseagreen
}

.profile-info .username, .profile-info .display-name {
    font-size: 1.53846154em;
    color: burlywood;
    font-weight: normal;
    display: inline-block;
    line-height: 1em;
    margin-bottom: 8px;
    margin-right: 10px
}

.profile-info .user-info .icon {
    top: 4px
}

.profile-info .username .icon, .profile-info .display-name .icon {
    margin: 0 0 0 15px;
    position: relative;
    top: 5px
}

.profile-info .profile-desc {
    display: block;
    margin-bottom: 8px;
    word-wrap: break-word
}

.profile-info .user-stat {
    position: absolute;
    right: 0;
    bottom: 15px;
    padding: 10px 0 5px 15px;
    background: ghostwhite;
    border-radius: 40px 0 0 40px;
    -moz-border-radius: 40px 0 0 40px;
    -webkit-border-radius: 40px 0 0 40px
}

.profile-info .user-stat .stat-numb, .profile-info .user-stat .stat-type {
    display: block;
    text-align: left;
    left: 0;
    top: 0
}

.profile-info .user-stat .stat-numb {
    margin-bottom: 5px;
    text-align: center;
    color: orangered
}

.profile-info .user-stat li {
    float: left;
    padding: 0 14px
}

.profile-info .user-stat li:nth-child(1), .profile-info .user-stat li:nth-child(2) {
    border-right: 1px dashed #c7c7c7
}

.profile-info .btn-follow, .profile-info .btn-following, .profile-info .btn-unfollow {
    width: 120px;
    font-size: 11px;
    position: relative;
    z-index: 1;
    bottom: 2px;
    left: 15px
}

.profile-info .btn.btn-follow {
    background: #8fbf00 url('../images/icon-follow.png') no-repeat 5px 5px
}

.profile-info .btn-follow:hover {
    background-color: #abdb1b
}

.profile-info .btn.btn-following {
    text-align: center
}

.profile-info .btn.btn-following.btn-unfollow {
    background: #ce2013 url('../images/icon-unfollow.png') no-repeat 5px 5px;
    padding-left: 26px
}

#artist-info .avatar, #artist-info .avatar img {
    border-radius: 0
}

#artist-info .avatar {
    border: 2px solid #222
}

#artist-info .user-role {
    color: lightsalmon
}

#artist-info .username {
    color: #fff;
    text-shadow: 0 0 10px gold;
    font-size: 20px
}

#profileNav {
    padding: 0;
    background: #222;
    border-top: 1px solid #222;
    border-bottom: 1px solid #333;
    height: 40px
}

#profileNav li {
    float: left;
    text-align: center;
    margin-right: 0;
    border-right: 1px solid #333
}

#profileNav li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 20px;
    display: block;
    height: 40px
}

#profileNav li a:hover, #profileNav li.active a {
    color: #fff
}

#profileNav li.active a {
    height: 41px;
    background: url('../images/misc/column_bg.jpg');
    cursor: default
}

.user-stat li {
    margin-bottom: 5px
}

.user-stat .stat-numb {
    display: inline-block;
    min-width: 35%;
    text-align: right;
    font-weight: bold;
    font-size: 1.28571429em;
    line-height: 1em
}

.user-stat .stat-type {
    position: relative;
    top: 0;
    left: 5px;
    display: inline-block;
    color: #595959;
    text-transform: uppercase;
    font-weight: normal
}

#leftColumn {
    background: #444 url('../images/misc/column_bg.jpg');
    border-right: 1px solid #222;
    clear: both;
    width: 649px;
    float: left;
    min-height: 800px
}

#leftColumn .column-content {
    padding: 10px
}

#leftColumn .column-content .member-info {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px
}

#leftColumn .column-content .member-info .info-row {
    margin: 15px 0;
    clear: both
}

#leftColumn .column-content .member-info .info-row .info-name {
    display: inline-block;
    width: 150px;
    float: left
}

#leftColumn .column-content .member-info .info-row .info-content {
    font-weight: bold
}

#leftColumn .article-list {
    width: 100%;
    display: block;
    border-top: 1px solid #222
}

#leftColumn .article-list .article-bit {
    padding: 5px 0;
    clear: both
}

#leftColumn .article-list .article-bit .article-icon {
    display: inline-block;
    float: left;
    margin-right: 3px;
    padding-top: 3px;
    width: 20px;
    font-size: 13px
}

#leftColumn .article-list .article-bit .article-name {
    width: 320px;
    overflow: hidden;
    word-wrap: break-word;
    height: 20px
}

#leftColumn .article-list .article-bit .article-name h3 {
    display: inline
}

#leftColumn .article-list .article-bit .article-name a {
    font-weight: normal;
    font-size: 12px
}

#leftColumn .article-list .article-bit:hover .article-name a {
    color: #fff;
    text-shadow: 0 0 5px #999
}

#leftColumn .article-list .article-bit .article-name a:hover {
    color: deeppink !important;
    text-shadow: 0 0 7px #8f0749 !important
}

.hot-article {
    background: url("../images/icon/hot.gif") no-repeat;
    float: right;
    width: 22px;
    height: 10px;
    margin-right: 105px;
    _margin-right: 50px;
    margin-top: -16px
}

.add-to-playlist a {
    background-position: 0 -723px;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 85px;
    margin-top: -16px;
    overflow: hidden
}

.add-to-playlist a:hover {
    background-position: 0 -744px;
    width: 16px;
    height: 16px
}

#leftColumn .article-list .article-bit .add-to-playlist {
    visibility: hidden
}

#leftColumn .article-list .article-bit:hover .add-to-playlist {
    visibility: visible
}

#leftColumn .article-list .article-bit .article-view {
    float: right;
    margin-left: 20px;
    margin-top: -20px;
    overflow: hidden;
    padding-left: 20px;
    width: 60px;
    font-size: 10px
}

#list-album {
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin-bottom: 10px
}

#list-album .album-bit {
    border-bottom: 1px solid #050505;
    border-top: 1px solid #191919;
    height: 1%;
    padding: 20px 0 15px
}

#list-album .album-bit .album-cover {
    float: left;
    height: 166px;
    width: 200px
}

#list-album .album-bit .album-cover .img-cover {
    position: relative
}

#list-album .album-bit .album-cover .img-cover .bgcover {
    background-position: 0 -128px;
    width: 193px;
    height: 165px;
    height: 165px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1
}

#list-album .album-bit .album-cover .img-cover .img152 {
    border-radius: 3px;
    height: 152px;
    left: 6px;
    position: absolute;
    top: 2px;
    width: 152px;
    z-index: 2;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}

#list-album .album-bit .album-info {
    float: right;
    width: 429px
}

#list-album .album-bit .album-info h3 {
    font-size: 18px;
    font-weight: bold
}

#list-album .album-bit .album-info .album-profile {
    height: 20px;
    padding: 2px 0;
    margin-top: 5px;
    overflow: hidden
}

#list-album .album-bit .album-info .album-desc {
    margin-top: 5px;
    border-top: 1px dotted #222;
    padding: 4px 0
}

#list-album .album-bit .album-info .album-profile .album-create {
    margin-left: 10px
}

#list-album .album-bit .album-info .album-profile .album-date {
    margin-left: 10px
}

#list-album .album-bit .album-info .album-profile .album-like {
    margin-left: 10px
}

#list-album .album-bit .album-info .album-profile .album-category {
    margin-left: 10px
}

.break-list-line {
    border-top: 1px solid #191919
}

.list-users .user {
    margin-left: 0;
    position: relative;
    padding: 15px 20px 25px 0;
    border-bottom: 1px dashed #222;
    clear: both
}

.list-users .user:last-child, .list-users .user:last-of-type {
    border-bottom: 0
}

.list-users .user .avatar {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: 20px;
    border-color: #ddd
}

.list-users .user .avatar img, .list-users .user .avatar {
    width: 46px;
    height: 46px
}

.list-users .user .latest-tweet, .list-users .user .user-info, .list-users .user .user-stat {
    margin-left: 86px
}

.list-users .user .user-info {
    margin-left: 15px
}

.list-users .user .user-info .display-name, .list-users .user .user-info .mention-name {
    position: relative;
/ / top : - 8 px;
    font-size: 12px;
    font-weight: bold;
    color: burlywood
}

.list-users .user .user-stat {
    overflow: hidden
}

.list-users .user .user-stat li {
    float: left;
    padding: 0 8px;
    margin-bottom: 0
}

.list-users .user .user-stat li a:hover span {
    color: #f15a24
}

.list-users .user .user-stat li:first-child {
    padding-left: 0
}

.list-users .user .user-stat li:last-child {
    border-right: 0
}

.list-users .user .user-stat li span {
    display: inline;
    color: #afafaf
}

.list-users .user .user-stat .stat-numb {
    font-size: 11px
}

.list-users .user .user-stat .stat-type {
    left: 0;
    text-transform: none;
    color: #afafaf
}

.list-users .user .latest-tweet {
    padding: 5px 0 0 0;
    word-wrap: break-word
}

.list-users .user .btn {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 5;
    width: 110px
}

#rightColumn {
    width: 330px;
    float: left
}

#rightColumn .column-content {
    padding: 10px
}

#rightColumn .column-content .block {
    float: left;
    clear: both;
    border-bottom: 1px dashed #222;
    margin-bottom: 10px;
    width: 100%
}

#rightColumn .column-content .block .block-title {
    margin-bottom: 10px;
    color: #737373;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: bold
}

#rightColumn .column-content .block .block-title .type-numb {
    color: #666;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal
}

#rightColumn .column-content .following, #rightColumn .column-content .followers {
    padding-right: 0
}

#rightColumn .column-content .list-user li {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px
}

#rightColumn .column-content .list-user .avatar {
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease
}

#rightColumn .column-content .list-user .avatar, #rightColumn .column-content .list-user .avatar img {
    width: 46px;
    height: 46px
}

#rightColumn .column-content .following .blank-state, #rightColumn .column-content .followers .blank-state {
    text-align: center;
    color: #a2a6a6;
    font-size: 12px
}

#rightColumn .column-content .list-user .view-more {
    text-align: center;
    display: block;
    background: #333;
    width: 52px;
    height: 52px;
    line-height: 52px;
    font-size: 9px;
    margin: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%
}

#rightColumn .column-content .list-user .view-more:hover {
    background-color: #444
}

#rightColumn .column-content .member-stats .stats-row {
    clear: both
}

#rightColumn .column-content .member-stats .stats-row .stats-name {
    display: inline-block;
    width: 150px
}

#rightColumn .column-content .member-stats .stats-row .stats-count {
    font-weight: bold
}

.minicolors {
    position: relative;
    display: inline-block;
    z-index: 1
}

.minicolors-focus {
    z-index: 2
}

.minicolors.minicolors-theme-default .minicolors-input {
    margin: 0;
    border: solid 1px #CCC;
    font: 14px sans-serif;
    width: 65px;
    height: 16px;
    border-radius: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .04);
    padding: 2px;
    margin-right: -1px
}

.minicolors-theme-default.minicolors .minicolors-input {
    vertical-align: middle;
    outline: 0
}

.minicolors-theme-default.minicolors-swatch-left .minicolors-input {
    margin-left: -1px;
    margin-right: auto
}

.minicolors-theme-default.minicolors-focus .minicolors-input, .minicolors-theme-default.minicolors-focus .minicolors-swatch {
    border-color: #999
}

.minicolors-hidden {
    position: absolute;
    left: -9999em
}

.minicolors-swatch {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: left;
    background: url(../images/misc/colorPicker.png) -80px 0;
    border: solid 1px #CCC;
    vertical-align: middle;
    display: inline-block
}

.minicolors-swatch SPAN {
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0;
    box-shadow: inset 0 9px 0 rgba(255, 255, 255, .1);
    display: inline-block
}

.minicolors-panel {
    position: absolute;
    top: 26px;
    left: 0;
    width: 173px;
    height: 152px;
    background: white;
    border: solid 1px #CCC;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    display: none
}

.minicolors-position-top .minicolors-panel {
    top: -156px
}

.minicolors-position-left .minicolors-panel {
    left: -83px
}

.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
    left: -104px
}

.minicolors-with-opacity .minicolors-panel {
    width: 194px
}

.minicolors .minicolors-grid {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 150px;
    height: 150px;
    background: url(../images/misc/colorPicker.png) -120px 0;
    cursor: crosshair
}

.minicolors .minicolors-grid-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: 0
}

.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0
}

.minicolors-slider-saturation .minicolors-grid-inner {
    background: url(../images/misc/colorPicker.png) -270px 0
}

.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0
}

.minicolors-slider-brightness .minicolors-grid-inner {
    background: black
}

.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0
}

.minicolors-slider, .minicolors-opacity-slider {
    position: absolute;
    top: 1px;
    left: 152px;
    width: 20px;
    height: 150px;
    background: white url(../images/misc/colorPicker.png) 0 0;
    cursor: crosshair
}

.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0
}

.minicolors-slider-brightness .minicolors-slider {
    background-position: -20px 0
}

.minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0
}

.minicolors-opacity-slider {
    left: 173px;
    background-position: -40px 0;
    display: none
}

.minicolors-with-opacity .minicolors-opacity-slider {
    display: block
}

.minicolors-grid .minicolors-picker {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: -6px;
    margin-left: -6px;
    background: 0
}

.minicolors-grid .minicolors-picker SPAN {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: solid 2px white
}

.minicolors-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: white;
    border: solid 1px black;
    margin-top: -2px
}

.minicolors-inline .minicolors-input, .minicolors-inline .minicolors-swatch {
    display: none
}

.minicolors-inline .minicolors-panel {
    position: relative;
    top: auto;
    left: auto;
    display: inline-block
}

.minicolors-theme-bootstrap .minicolors-input {
    padding: 4px 6px;
    padding-left: 30px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #555;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 19px;
    margin: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.minicolors-theme-bootstrap.minicolors-focus .minicolors-input {
    border-color: #6fb8f1;
    box-shadow: 0 0 10px #6fb8f1;
    outline: 0
}

.minicolors-theme-bootstrap .minicolors-swatch {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 2
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-input {
    padding-left: 6px;
    padding-right: 30px
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-swatch {
    left: auto;
    right: 4px
}

.minicolors-theme-bootstrap .minicolors-panel {
    top: 28px;
    z-index: 3
}

.minicolors-theme-bootstrap.minicolors-position-top .minicolors-panel {
    top: -154px
}

.minicolors-theme-bootstrap.minicolors-position-left .minicolors-panel {
    left: -63px
}

.minicolors-theme-bootstrap.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
    left: -84px
}

.transparentBg {
    -ms-filter: "alpha(opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9
}

#edit-profile {
    padding-left: 10px
}

.supercom-rank-admin, .supercom-rank-mod, .supercom-rank-uploader, .supercom-rank-top1, .supercom-rank-top2, .supercom-rank-top3, .supercom-rank-top4, .supercom-rank-top5, .supercom-rank-top6, .supercom-rank-top7, .supercom-rank-top8, .supercom-rank-top9, .supercom-rank-top10, .supercom-rank-top11, .supercom-rank-top12, .supercom-rank-top13, .supercom-rank-top14, .supercom-rank-top15 {
    background: url(../images/misc/rank-sprite.png) no-repeat top left;
    width: 208px;
    height: 50px;
    margin-left: 144px;
    display: none\9  !important;
}

.supercom-rank-admin {
    background-position: 0 0;
}

.supercom-rank-mod {
    background-position: 0 -55px;
}

.supercom-rank-top1 {
    background-position: 0 -110px;
}

.supercom-rank-top10 {
    background-position: 0 -165px;
}

.supercom-rank-top11 {
    background-position: 0 -220px;
}

.supercom-rank-top12 {
    background-position: 0 -275px;
}

.supercom-rank-top13 {
    background-position: 0 -330px;
}

.supercom-rank-top14 {
    background-position: 0 -385px;
}

.supercom-rank-top15 {
    background-position: 0 -440px;
}

.supercom-rank-top2 {
    background-position: 0 -495px;
}

.supercom-rank-top3 {
    background-position: 0 -550px;
}

.supercom-rank-top4 {
    background-position: 0 -605px;
}

.supercom-rank-top5 {
    background-position: 0 -660px;
}

.supercom-rank-top6 {
    background-position: 0 -715px;
}

.supercom-rank-top7 {
    background-position: 0 -770px;
}

.supercom-rank-top8 {
    background-position: 0 -825px;
}

.supercom-rank-top9 {
    background-position: 0 -880px;
}

.supercom-rank-uploader {
    background-position: 0 -935px;
}

p.supercom-rank-admin, p.supercom-rank-mod, p.supercom-rank-uploader, p.supercom-rank-top1, p.supercom-rank-top2, p.supercom-rank-top3, p.supercom-rank-top4, p.supercom-rank-top5, p.supercom-rank-top6, p.supercom-rank-top7, p.supercom-rank-top8, p.supercom-rank-top9, p.supercom-rank-top10, p.supercom-rank-top11, p.supercom-rank-top12, p.supercom-rank-top13, p.supercom-rank-top14, p.supercom-rank-top15 {
    margin-bottom: 0 !important;
}
.margintb5{margin: 5px}